<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	<!-- 平台配置  -->
		<typeAlias alias="Page" type="com.xplatform.base.framework.mybatis.entity.Page"/>
        <typeAlias alias="ModuleTreeVo" type="com.xplatform.base.orgnaization.module.mybatis.vo.ModuleTreeVo"/>
        <typeAlias alias="ResourceVo" type="com.xplatform.base.orgnaization.resouce.mybatis.vo.ResourceVo"/>
        <typeAlias alias="OrgTreeVo" type="com.xplatform.base.orgnaization.orgnaization.mybatis.vo.OrgTreeVo"/>
        <typeAlias alias="UserVo" type="com.xplatform.base.orgnaization.user.entity.UserEntity"/>
        <typeAlias alias="RoleVo" type="com.xplatform.base.orgnaization.role.mybatis.vo.RoleVo"/>
        <typeAlias alias="TypeTreeVo" type="com.xplatform.base.system.type.mybatis.vo.TypeTreeVo"/>
        <typeAlias alias="DataVo" type="com.xplatform.base.system.data.mybatis.vo.DataVo"/>
        <typeAlias alias="InnerMessageVo" type="com.xplatform.base.system.message.config.mybatis.vo.InnerMessageVo"/>
    </typeAliases>
    
    
</configuration>